
.centerbox-bar {
  padding: 0.4em 0.7em;
  padding-bottom: 0em;

  .focused-title {
    border: 2px solid $bgLight; 
    border-radius: 9999em;
    padding: 0.4em 0.8em;
    background-color: $bgDark;
  }

  .focused-workspace {
    color: $primary;
  }

  .workspaces {
    button {
      border: 1px solid $bgLight; 
      border-radius: 9999em;
      padding: 0.4em 1em;
      background-color: $bgDark;
    }
  }

  .side-info {
    .segment {
      border: 2px solid $bgLight; 
      border-radius: 9999em;
      padding: 0.4em 0.8em;
      background-color: $bgDark;
    }

    button.toggled {
        background-color: rgba($bgDark, 0.4);
    }
  }

  .workspaces, .side-info {
    button {
      &:hover {
        background-color: rgba($bgDark, 0.4);
      }
      
      &:active {
        background-color:  rgba($bgDark, 0.8);
      }

    }
  }
}
