
.centerbox-bar {
  color: $text;
  background-color: rgba($bgDark, 0.8);
  padding: 0.6em 0.9em;

  .workspaces {
    button {
      @include rounded-segment;
      padding: 0.4em 1em;
    }

    .focused-workspace {
      background-color: $bgLight;
      font-weight: bold;
      color: $text;
    }
  }

  .focused-title {
    border: 2px solid $bgLight; 
    border-radius: 1em;
    padding: 0.4em 0.8em;
    background-color: $bgDark;
  }

  .side-info {
    .segment {
      @include rounded-segment;
      padding: 0.4em 0.8em;
    }

    button.toggled {
      background-color: rgba($bgDark, 0.4);
      border-radius: 1em 1em 0em 0em;
      transition-property: border-radius;
      transition-duration: 600ms;
    }
  }

  .workspaces, .side-info {
    button {
      @include button;
    }
  }
}
