
.centerbox-bar {
  color: $text;
  padding: 0.4em 0.7em;
  padding-bottom: 0em;

  .focused-title {
    border: 2px solid $bgLight; 
    border-radius: 9999em;
    padding: 0.4em 0.8em;
    background-color: $bgDark;
  }

  .focused-workspace {
    color: $primary;
  }

  .workspaces {
    button {
      @include rounded-segment;
      padding: 0.4em 1em;
    }
  }

  .side-info {
    .segment {
      @include rounded-segment;
      padding: 0.4em 0.8em;
    }

    button.toggled {
      background-color: rgba($bgDark, 0.4);
      border-radius: 9999em 9999em 0em 0em;
      transition-property: border-radius;
      transition-duration: 600ms;
    }
  }

  .workspaces, .side-info {
    @include button;
  }
}
