$primary: #ab343f;
$secondary: #a8a8b1;
$accent: #e8e8eb;
$bgLight: #3b3a4e;
$bgDark: #231e2b;

@import "Bar.scss";
@import "Systray.scss";

* {
  all: unset; 
  font-family: CommitMono Nerd Font;
}

